/* index.css */

@font-face {
  font-family: 'Gothico Minimo';
  src: url('gothicominimo.ttf');
}

/* General body styling to apply Bootstrap's theme correctly */
body {
  background-color: #f8f9fa; /* Light background color */
  font-family: "Gothico Minimo", serif !important;
}

/* Styling for the main content */
.container {
  margin-top: 20px;
}

/* Custom styles for the navbar */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Additional padding and margins for form elements */
.form-group {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

/* Styling for buttons */
button {
  margin-top: 1rem;
}

/* List group custom styles */
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Custom footer styling (if you add a footer) */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.dice-roller-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it is above other elements */
}

.hr-with-char {
  border: none;
  height: 1px;
  background: #ccc;
  position: relative;
  margin: 20px 0;
}

.hr-with-char::before,
.hr-with-char::after {
  content: '';
  display: block;
  width: 50%;
  height: 0px;
  background: #ccc;
  position: absolute;
  top: 50%;
}

.hr-with-char::before {
  left: 0;
}

.hr-with-char::after {
  right: 0;
}

.hr-with-char span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff; /* Optional: Change background color to match your page */
  padding: 0 0px; /* Optional: Adjust padding */
  color: #333; /* Optional: Change color to match your design */
  font-size: 12px; /* Optional: Adjust font size */
}