/* index.css */

/* General body styling to apply Bootstrap's theme correctly */
body {
  padding-top: 56px; /* Space for the fixed navbar */
  background-color: #f8f9fa; /* Light background color */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Styling for the main content */
.container {
  margin-top: 20px;
}

/* Custom styles for the navbar */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Additional padding and margins for form elements */
.form-group {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
}

/* Styling for buttons */
button {
  margin-top: 1rem;
}

/* List group custom styles */
.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Custom footer styling (if you add a footer) */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.dice-roller-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it is above other elements */
}